body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #af9766;
    background-color: #fde9c2;
    margin: 0;
    padding: 0;
}

h1 {
    color: #f697ff;
    margin-top: 50px;
}

button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #f8aeff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f697ff;
}

.center {
    margin: 20px auto;
}